<%= content_for :tcontent do %>
  <% if @tasks.present? %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Project</th>
        <th>Created At</th>
        <th>Assigned To</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.status.humanize %></td>
          <td><%= task.project.name %></td>
          <td><%= task.created_at.to_s(:default) %></td>
          <td><%= task.try(:user).try(:email) %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="action_menu" data-toggle="dropdown">Actions
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="action_menu">
                  <li><%= link_to 'Edit', edit_project_task_path(task.project, task) if can? :edit, Task %></li>                  
                </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <div class="row">
      <p>No tasks created yet.</p>
    </div>
  <% end %>
<% end %>

<%= content_for :theader, "All Tasks" %>

<%= render '/shared/table' %>
