<%= content_for :projects_class, "active" %>

<%= content_for :taction do %>
  <%= link_to '+ New Task', new_project_task_path(project_id: @project), class: "btn btn-info btn-fill btn-wd pull-right" if can? :create, Task %>
  <%= link_to 'View all projects', projects_path, class: "btn btn-info btn-fill btn-wd pull-right" if can? :read, Project %>
<% end %>

<%= content_for :tsub_header do %>
  <%= @project.name %> (<%= @project.status.humanize %>)
<% end %>

<%= content_for :tcontent do %>
  <% if @tasks.present? %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Assigned To</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td id="task_<%= task.id %>_status"><p><%= task.status.capitalize %></p>
            <div class="task_status_update" style="display: none;">
              <%= form_for task, url: project_task_path(@project.id, task.id), method: :put do |f| %>
                <%= f.collection_select :status, Task.statuses.keys, :to_s, :to_s %>
                <%= f.submit "Update Status", class: "btn bg-olive update_status_button" %>
              <% end %>
            </div>
          </td>
          <td><%= task.created_at.to_s(:default) %></td>
          <td><%= task.user.email %></td>
          <td>
            <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn bg-olive" if can? :update, Task %>
            <%= link_to 'Delete', project_task_path(@project, task), class: "btn bg-olive", method: :delete if can? :delete, Task %>
            <%= link_to 'Change Status', "#", class: "btn bg-olive change_status_button", data: {task: task.id} if can? :change_status, Task %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <div class="row">
      <p>No tasks created yet.</p>
    </div>
  <% end %>
<% end %>

<%= content_for :theader, "All Tasks" %>

<%= render '/shared/table' %>

<style>
  .task_status_update {
    position: absolute;
    height: 100px;
    width: 170px;
    background-color: #fff;
    border: solid grey 2px;
    padding: 8px;
   }
  .update_status_button {
    margin-top: 8px;
    margin-left: 10px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('a.change_status_button').click(function(){
      task_id = $(this).data("task");
      div = $(this).parent().siblings('#task_' + task_id + '_status').find('.task_status_update');
      div.css('display', 'block');
      div.addClass('task_status_update')
    });
  });
</script>
