<%= content_for :users_class, "active" %>

<%= content_for :tsub_header do %>
  (<%= @users.count %>)
<% end %>

<%= content_for :tcontent do %>
  <% if @users.present? %>
    <thead>
      <tr>
        <th>Email</th>
        <th>Created At</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at.to_s(:default) %></td>
          <% active = user.is_active %>
          <td><%= active ? "Active" : "In Active" %></td>
          <td><%= active ? "Approved" : link_to("Approve User", approve_user_path(user), method: :put, class: "btn btn-warning") %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <div class="row">
      <p>No user available.</p>
    </div>
  <% end %>
<% end %>

<%= content_for :theader, "All Developers" %>

<%= render '/shared/table' %>
