<%= content_for :projects_class, "active" %>

<%= content_for :taction do %>
  <%= link_to '+ New Project', new_project_path, class: "btn btn-success btn-fill btn-standard pull-right" if can? :create, Project %>
<% end %>

<%= content_for :tcontent do %>
  <% if @projects.present? %>
    <thead>
      <tr>
        <th>Project Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_id %></td>
          <td><%= project.name %></td>
          <td><%= project.status.capitalize %></td>
          <td><%= project.added_by.email %></td>
          <td><%= project.created_at.to_s(:default) %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Actions
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li><%= link_to 'Edit', edit_project_path(project) if can? :update, Project %></li>
                  <li><%= link_to 'View Tasks', project_tasks_path(project) if can? :read, Task %></li>
                  <li><%= link_to 'Add Resources', add_resources_project_path(project), remote: true if can? :add_resource, Project %></li>
                </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <div class="row">
      <p>No projects are assigned to you currently</p>
    </div>
  <% end %>
<% end %>

<%= content_for :theader, "All Projects" %>

<%= render '/shared/table' %>
